@font-face {
    font-family: 'Genshin Font';
    src: url('./font/zh-cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;  /* Ensure padding and borders don't cause overflow */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(23, 29, 40); /* Optional: Set a background color to make the div more visible */
    font-family: 'Exo 2';
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

h1 {
    color: rgb(202, 201, 168);
    font-size: 50px;
    text-align: center;

}

#outerContainer {
    display: flex;
}

#CharactersDiv {
    color: white;
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;
}

.fa-regular {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}












#ToFarmBox {
    color: white;
    border-style: solid;
    border-width: 4px;
    height: 80vh;
    width: 20vw;
    margin-top: 5vh;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10vw;
    border-color: rgb(202, 201, 168);
    font-family: 'Exo 2';
    text-align: center;
}

#ToFarmBox hr{
    color: white;
    width: 80%;
    height: 3px;
    background-color: rgb(202, 201, 168);


}

#ToFarmNotAvailable{
    color: rgb(94, 105, 117);
    padding-left: 10%;
    text-align: left;
}

input[type="checkbox"] {

}