.charBox {
    background-color: rgb(32, 40, 54);
    height: 180px;
    border-radius: 50px;
    border-top-right-radius: 10px;
    margin-bottom: 40px;
    width: 95%;
    padding-top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}




#charImage{
    height: 122px;
    width: auto;
    background-color: rgb(77, 77, 77);
    margin-top: 28px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#checkBoxes {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input {
    accent-color:rgb(243, 239, 139);
    cursor: pointer;
}

.fa-grip-lines {
    color: rgb(57, 68, 86); 
    position:absolute;
    top: 40%;
    right: 15px;
    font-size: 35px;
}

.fa-grip-lines:hover {
    color: rgb(86, 97, 115); 
}

.fa-xmark {
    color: rgb(57, 68, 86); 
    position:absolute;
    top: 5%;
    right: 20px;
    font-size: 25px;
}

.fa-xmark:hover {
    color: rgb(232, 56, 50); 
}