#ToFarmBox {
    color: white;
    border-style: solid;
    border-width: 4px;
    height: 80vh;
    width: 20vw;
    margin-top: 5vh;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 10vw;
    border-color: rgb(202, 201, 168);
    font-family: 'Exo 2';
    text-align: center;
    padding: 0;
}

#ToFarmBox h2 {
    margin: 0; /* Reset margin from the heading */
    padding: 0;
}

#ToFarmBox hr{
    width: 80%;
    height: 3px;
    background-color: rgb(202, 201, 168);
    margin: auto;
}

#ToFarmNotAvailable{
    color: rgb(94, 105, 117);
    padding-left: 10%;
    text-align: left;
}

