.charBox {
    background-color: rgb(32, 40, 54);
    height: 180px;
    border-radius: 30px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
    width: 95%;
    padding-top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


#charIcon{
    height: 122px;
    width: auto;
    background-color: rgb(77, 77, 77);
    margin-top: 28px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
}

.otherIcon{
    height: 60px;
    width: 60px;
    margin-top: 60px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid transparent; 
}
.otherIcon:hover{
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.8);;
}
.otherIcon:active{
    border-color: rgb(255, 255, 255, 0.5);
}

.otherIcon img{
    border-radius: 5px;
}

#artifactIcon{
    position: relative;
}

#artifactImg1{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

#artifactImg2{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2; 
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);

}


#checkBoxes {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input {
    accent-color:rgb(243, 239, 139);
    cursor: pointer;
}

/* .fa-grip-lines {
    color: rgb(57, 68, 86); 
    position:absolute;
    top: 40%;
    right: 15px;
    font-size: 35px;
}

.fa-grip-lines:hover {
    color: rgb(86, 97, 115); 
} */

.fa-xmark {
    color: rgb(75, 87, 105); 
    position:absolute;
    top: 5%;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.fa-xmark:hover {
    color: rgb(245, 46, 39); 
}

.fa-xmark:active {
    color: rgb(245, 46, 39, 0.5); 
}